<!-- Home contenedor de todas las secciones de la landing page -->

<!-- Hero Section -->
<app-hero></app-hero>

<!-- Nosotros -->
<app-about-section></app-about-section>

<!-- Servicios -->
<app-services-section></app-services-section>

<!-- Productos Destacados -->
<app-products-section></app-products-section>

<!-- Clientes -->
 <app-clients-section></app-clients-section>

 <!-- Desarrollo Web -->
<app-web-dev-section></app-web-dev-section>

<!-- Testimonios -->
<app-testimonials-section></app-testimonials-section>

<!-- Preguntas Frecuentes -->
<app-faq-section></app-faq-section>

<!-- Contacto -->
<app-contact-section></app-contact-section>





